@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans%3Awght%40400%3B700&display=swap%27%29%3B');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 1.125rem;
    font-family: "Josefin Sans", sans-serif;
    background-color: hsl(235, 21%, 11%);
    min-height: 100vh;
}
.top-img{
    width: 100%;
    height: 225px;
    background-size: cover;
    background-image: url(./images/bg-mobile-dark.jpg);
}
main{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    padding: 25px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    letter-spacing: 10px;
    padding-top: 10px;
}
.toggle-btn{
    background: url(./images/icon-sun.svg);
    width: 30px;
    height: 30px;
    background-size: cover;
}
form{
    margin-top: 10%;
}
#todo-form .type-todo{
    /* margin-top: 30%; */
    background-color:  hsl(235, 24%, 19%);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-radius: 5px;
    padding: 0.5rem 0.25rem;
    margin: 0 auto;
    max-width: 28rem;
    position: relative;
}
.circle,.checkbox {
    appearance: none;
    background-color: transparent;
    margin-left: 1rem;
    width: 20px;
    height: 20px;
    border: 1px solid hsl(234, 11%, 52%);
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: all 0.2s ease-in-out;
  }
#todo-input{
    border: none;
    outline: none;
    font-family: inherit;
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    padding: 1rem 0.5rem;
    border-radius: 5px;
    /* margin: 10px; */
    /* position: relative; */
    max-width: 25rem;
}
.todo-input:focus{
    outline: none;
}
.wrapper {
    padding: 0.5rem 0.25rem;
    margin: 0 auto;
    max-width: 29rem;
    position: relative;
}
.todos{
    margin-top: 24px;
}
.todo{
    background: hsl(235, 24%, 19%);
    width: 100%;
    height: 55px;
    display: grid;
    grid-template-columns: 10% auto 10%;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid hsl(237, 14%, 26%);
    border-radius: 5px;
    font-size: 20px;
}
.todo label{
    background: hsl(235, 24%, 19%);;
}
.todos li, .filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: hsl(235, 24%, 19%);
    padding: 1rem;
    /* max-width: 28rem; */
    cursor: pointer;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
  }

  .filters button {
    margin-left: 1rem;
    background-color: transparent;
    color: hsl(234, 11%, 52%);
    font-size: clamp(0.7rem, 3vw, 1rem);
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
    outline: none;
    font-family: inherit;
}
.filters button:hover {
    color: hsl(234, 39%, 85%);
}
  .filters button.active {
    color: hsl(220, 98%, 61%);
}
  .todos li:first-child {
    border-radius: 5px 5px 0 0;
  }
  
  .todos li span {
    font-size: clamp(0.5rem, 3vw, 1rem);
    font-weight: 700;
    padding: 5px;
    border-radius: 5px;
    color: hsl(234, 39%, 85%);
    transition: all 0.2s ease-in-out;
  }
/* .todo input[type = "checkbox"]{
    display: none;
} */

.active{
    position: relative;
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.active::before{
    content: "✔";
    position: absolute;
    width: 10px;
    height: 10px;
}
.cross{
    cursor: pointer;
}
/* .circleCheck{
    background-color: transparent;
    margin-left: 1rem;
    width: 1.5rem;
    height: 1.3rem;
    border: 1px solid hsl(234, 11%, 52%);
    border-radius: 50%;
} */
.items, .controls{
    font-size: 30px;
    color: white;

}
.wrapper label span:focus {
    background-color: hsl(234, 11%, 52%);
    outline: none;
  }
  
.label{
    color: hsl(234, 11%, 52%);
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .label span[contenteditable]:hover {
    background-color: hsl(237, 14%, 26%);
  }
  
 .wrapper .todos div input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    border: 1px solid hsl(233, 11%, 84%);
    border-radius: 50%;
    display: grid;
    place-content: center;
    transition: all 0.2s ease-in-out;
    margin: 0;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
  
  .wrapper .todos div input[type="checkbox"]:hover {
    border: 1px solid transparent;
    background: linear-gradient(hsl(0, 0%, 98%), hsl(0, 0%, 98%)) padding-box,
      linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%)) border-box;
    border-radius: 50%;
  }
  
  .wrapper .todos div input[type="checkbox"]::before {
    content: "\2713";
    color: hsl(0, 0%, 98%);
    transform: scale(0);
    transition: all 0.2s ease-in-out;
  }
  
  .wrapper .todos div input[type="checkbox"]:checked {
    background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    border: none;
  }
  
  .wrapper .todos div input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  /* REMOVE TASK */
  .remove-task {
    border: 0;
    padding: 0.25rem;
    display: grid;
    place-content: center;
    background-color: transparent;
    cursor: pointer;
  }
  
  .remove-task svg {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .remove-task svg path {
    transition: all 0.2s ease-in-out;
  }
  
  .remove-task:hover svg path {
    stroke: hsl(235, 19%, 35%);
    transform: scale(1.1);
  }
  
  .remove-task:active svg {
    transform: scale(0.8);
  }